.ficha-container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    background-color: rgb(144, 234, 171);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    height: fit-content;
    width: fit-content;
    margin: 40px;

    h1 {
        text-align: center;
        justify-content: center;
        align-content: center;
        justify-self: center;
        font-family: 'Titan One', cursive;
        font-size: 48px;
        font-weight: bold;
        color: #000801;
        margin: 20px;
    }
}

.ficha-content-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-self: center;
    background-color: rgb(119, 216, 117);
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    height: fit-content;
    width: fit-content;
    margin: 40px;

}


.ficha-content-main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-self: center;
    background-color: rgba(116, 176, 116, 0);
    height: fit-content;
    width: fit-content;
    margin: 40px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: rgb(178, 239, 173);
            width: fit-content;
            height: fit-content;
        }

    }
}


.ficha-content-main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-self: center;
    height: fit-content;
    width: fit-content;
    margin: 40px;

    img {
        width: 200px;
        height: 220px;
        border-radius: 50%;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 2);
    }
}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-self: center;
    background-color: rgb(119, 216, 117);
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    height: fit-content;
    width: fit-content;
    margin: 40px;

    :hover {
        background-color: rgb(180, 220, 179);
        transition: 0.3s;
    }

    button {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(178, 239, 173);
        width: 200px;
        height: fit-content;
        justify-content: center;
        align-content: center;
        justify-self: center;

        p {
            justify-content: center;    
            align-content: center;
            justify-self: center;
        }

        a {
            text-decoration: none;
            color: #000801;
            font-family: 'Titan One', cursive;
            font-size: 16px;
            font-weight: bold;
            justify-content: center;    
            align-content: center;
            justify-self: center;
        }
    }
}